
    <div class="box">
        <div class="form-container">
            <h2>Sign Up</h2>
            <form id="signUpForm">
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="input-group">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <span class="show-password" aria-label="Show Password" onclick="togglePasswordVisibility()">👁️</span>
                </div>
                <div id="passwordStrength" class="password-strength">Weak</div>
                <div class="input-group">
                    <input type="date" id="birthdate" name="birthdate" required>
                </div>
                <button type="submit">Sign Up</button>
                <div class="links">
                    <a href="login.html">Already have an account? Login</a>
                </div>
            </form>
        </div>
    </div>

 